env
**/__pycache__

collection_scripts/.vagrant
collection_scripts/data
collection_scripts/logs
collection_scripts/temp
collection_scripts/google-chrome-stable_amd64.deb

*.ipynb
.idea/.gitignore
.idea/eecs589-patel-schauer.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
